body {
    background-image: linear-gradient(180deg, rgba(237, 220, 183, 0.417), rgba(132, 85, 46, 0.479));
}

.header-site {
    display: flex;
    border-radius: 2px;
}


.d-flex{
    border: solid 2px;
    align-items: ;
}

.h1 {
    font-family: "droid serif";
    margin-right: 70%;
}

h2 {
    color: aliceblue
}

.cont {
    margin-left: 60%;
    font-family: "droid serif";
}

ul {
    list-style: none;
}

ul li {
    display: inline-flex;
    color: rgb(0, 0, 0);
}

.mt-2 {
    margin-top: 1%;
    color: aliceblue;
}

p {
    color: aliceblue;
    margin-top: 10%;
}

.formacao {
    margin-right: 40%;
}

.titlle {
    padding-top: 1.1%;
    
}

.body-2 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.417), rgba(0, 0, 0, 0.626));
    border-style: double;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid 2px;
    padding-top: 3%;

}

.h-more{
    margin-right: 20%%;
}

.contato {
    margin-top: 3%;
    padding-left: 13%;
    display: flex;
}


img, svg {
    margin-bottom: 3%;
}



